<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MacMullengz Koncepts</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/MEDIAa.png" rel="icon">
  <link href="../public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../public/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../public/assets/css/preview.css">

  <!-- Template Main CSS File -->
  <link href="../public/assets/css/style.css" rel="stylesheet">


</head>




<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">

  <div class="d-flex flex-column">

    <div class="profile">
      <img src="/img/5.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">MacMullengz Manji</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav class="nav-menu">
      <ul>
       
        <li><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="/#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="/#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="/#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
        <li class="active"><a href="/gallery"><i class="bx bx-book-content"></i> Gallery</a></li>
        <li><a href="/#services"><i class="bx bx-server"></i> Services</a></li>
        <li><a href="/#contact"><i class="bx bx-envelope"></i> Contact</a></li>
        <a href="/blog" class="btn btn-outline-info">BLOG</a>
        <% if (isAuthenticated) { %>
          <a href="/dashboard" class="btn btn-outline-primary">ADMIN DASHBOARD</a>

        <% }  %>

      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
    
    
  </div>
      <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><img src="/img/Copyright Macc.png" alt=""></strong>
        </div>
        <div class="credits">
    
        </div>
      </div>
    </footer><!-- End  Footer -->
</header><!-- End Header -->





<body class="body">
  <div class="">
      <%- body %>
  </div>


  
  
   <!-- Vendor JS Files -->
   <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
   <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
   <script src="/public/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
   <script src="/public/assets/vendor/php-email-form/validate.js"></script>
   <script src="/public/assets/vendor/counterup/counterup.min.js"></script>
   <script src="/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="/public/assets/vendor/venobox/venobox.min.js"></script>
   <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
   <script src="/public/assets/vendor/typed.js/typed.js"></script>
   <script src="/public/assets/vendor/aos/aos.js"></script>

   <script src="/public/assets/scripts/app.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   
   <!-- <script src="/public/assets/js/preview.js"></script> -->







   


   
   

   <!-- IMAGE PREVIEW -->

   
   <!-- Template Main JS File -->
   <script src="../public/assets/js/main.js"></script>


   
   <script>
    var typed = new Typed('.animate', {
      strings: [
        "A Photographer",
        "A Graphic Designer",
        "An Artist",
        "A Cartoonist",
        "A Freelancer"
      ],
      backSpeed: 40,
      typeSpeed: 70,
      smartBackspace: true,
      backDelay: 1500,
      loop: true
    })
  </script>
  <script>
    $(document).ready(() => {
      setTimeout(() => {
        $('.time-go').slideUp(900);
      }, 5000)
    });
  </script>
    </body>




    

    


