<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismisible fade show time-go" role="alert">
            <strong><%= error.msg %></strong>
            <!-- <strong>Holy guacamole!</strong> You should check in some of those fields below. -->
            <button class="close" type="button" aria-label="Close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

   <% }); %>
<% } %>

<% if(success_msg && success_msg.length > 0) { %>
    <div class="alert alert-success alert-dismisible fade show time-go" role="alert">
        <strong> <%= success_msg %> </strong>
        <!-- <strong>Holy guacamole!</strong> You should check in some of those fields below. -->
        <button class="close" type="button" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error_msg != '') { %>
    <div class="alert alert-warning alert-dismisible fade show time-go" role="alert">
        <%= error_msg %>
        <!-- <strong>Holy guacamole!</strong> You should check in some of those fields below. -->
        <button class="close" type="button" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="alert alert-warning alert-dismisible fade show time-go" role="alert">
        <%= error %>
        <!-- <strong>Holy guacamole!</strong> You should check in some of those fields below. -->
        <button class="close" type="button" aria-label="Close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

